
# heptacoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=9443
#port=19443

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=d8cfce92
genesis=00031da1193630b05f89dce69f614442b9b2527c935cb1452f52b739d712f62a
input=/home/example/.heptacoin/blocks

# testnet
#netmagic=fe91865a
#genesis=030903104fd768f705758cfec14c6457eed020091da8fe7cd103049200ef2507
#input=/home/example/.heptacoin/testnet3/blocks

output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000
